<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kMDItemKeywords</key>
	<array>
		<string>Section</string>
		<string>Kapitel</string>
		<string>Schritt</string>
		<string>Fragen</string>
		<string>Statistiken</string>
		<string>Beispiele</string>
		<string>Fehler</string>
		<string>Vorteile</string>
		<string>Lektionen</string>
		<string>Antworten</string>
	</array>
	<key>kMDItemTextContent</key>
	<string>Section: 700 bis 1000 Worte
Section: 700 bis 1000 Worte
Section: 700 bis 1000 Worte
Section: 700 bis 1000 Worte
Section: 700 bis 1000 Worte
Section: 700 bis 1000 Worte
Section: 700 bis 1000 Worte
Kapitel
Kapitel
Kapitel
Kapitel
Kapitel
Kapitel
Kapitel
Tips
Statistiken
Schritt-für-Schritt-Anleitungen
Lektionen
Vorteile
Gründe
Fehler
Beispiele
Fragen &amp; Antworten
Persönliche Geschichten
Buch</string>
</dict>
</plist>
